<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS425 Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="https://adityaparakh.000webhostapp.com/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<style>
.jumbotron{
  background-color:#29AB8D;
  color:white;
}  
.jumbotron p{
  color:black;
  font-size: 40px;
  text-align:left;
  padding: 10px;
}
.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.nav-tabs{
  margin-bottom: 0;
}
.nav-tabs ul{
  color:#0f0f0f;
}
</style>
</head>
<body>

<!--<div class="container">
  <ul class="nav nav-tabs bg-info">
    <li><a data-toggle="tab" href="#overview">Overview</a></li>
    <li class="selected" class="active"><a data-toggle="tab" href="#books">Your Books</a></li>
    <li><a data-toggle="tab" href="#fees">Fees</a></li>
    <li><a data-toggle="tab" href="#contact">Contact Us</a></li>
    <li><a data-toggle="tab" href="#userInfo">User Info</a></li>
  </ul>
  <ul class="nav nav-tabs bg-info pull-right">
    <li><a data-tobble="tab" href="#">Logout</a></li>
  </ul>
  <div class="tab-content">
    <div id="overview" class="tab-pane fade ">
      <h3>Overview</h3>
        <p>A brief summary of your account
        </p>
    </div>
    <div id="books" class="tab-pane fade in active">
      <h3>Your Books</h3>
        <p>A brief summary of the books that you possess
        </p>
    </div>
    <div id="fees" class="tab-pane fade">
      <h3>Your Fees</h3>
        <p>A brief summary of the balance that you owe
        </p>
    </div>
    <div id="contact" class="tab-pane fade">
      <h3>Your Books</h3>
        <p>A list of some contacts that will be useful
        </p>
    </div>
    <div id="userInfo" class="tab-pane fade">
      <h3>Your Contact Information</h3>
        <p>Verify that this information is correct
        </p>
    </div>
  </div>
</div>
-->
   
<nav class="navbar navbar-fixed-top">
  <div class="container bg-info">
    <ul class="nav navbar-nav">
      <p class="navbar-text">High School Library</p>
      <li><a data-toggle="tab" href="#overview">Overview</a></li>
      <li class="active"><a data-toggle="tab" href="#books" id="book" >Books</a></li>
      <li><a data-toggle="tab" href="#students">Manage Students</a></li>
      <li><a data-toggle="tab" href="#courses">Manage Courses</a></li>
    </ul> 
    <ul class="nav navbar-nav navbar-right" style="padding-right:10px">
      <p class="navbar-text">Signed in as: Admin</p>
      <li><button class="btn navbar-btn"><a href="/">Logout</a></button></li>
    </ul>
  </div>
  
</nav>
<div class="container bg-muted" style="padding:0px; background-color:white">
    <div class="tab-content" style="margin-top:30px">
    
<!--THE OVERVIEW FOR THE USER IS SHOWN HERE-->    
    <div id="overview" class="tab-pane fade">
      <h3>Overview</h3>
      {% block user %}
        <p>A brief summary of your account, {{ user["firstname"] }}
        </p>
      {% endblock %}
    </div>

<!--THE USERS BOOKS ARE HANDLED HERE-->
    <div id="books" class="tab-pane fade  in active">
      <h3>Book Database</h3>
      <table width="100%" height="194" border="1">
        <tbody>
          <tr>
            <td rowspan="3"><img src="{{information['cover']}}" alt=""/></td>
            <td>Name: {{information['title']}}</td>
            <td>Author: {{information['author']}}</td>
          </tr>
          <tr>
            <td>ISBN:  {{information['isbn']}}</td>
            <td>Year</td>
          </tr>
          <tr>
            <td height="100">Summary: {{information['summary']}}</td>
            <td>Other</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td><a href="{{information['amazon']}}">Amazon</td>
            <td><a href="{{information['ban']}}">Barnes & Noble</td>
            <td><a href="{{information['Apple']}}">Barnes & Noble</td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <form action="/books" class="form-inline">
          <div class="form-group">
            <input type="text" name="bookname" class="form-control" placeholder="Book Name">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>ISBN #</th>
              <th>Subject</th>
              <th>Quantity Available</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
    
<!--THE STUDENT FEES TAB IS HANDLED HERE-->
    <div id="students" class="tab-pane fade">
      <h3>Your Students</h3>
        <p>Track your students and assign books.
        </p>
          <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Student ID #"> 
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Amount Due</th>
              <th>Amount Due</th>
            </tr>  
          </thead>
          <tbody>
            <tr>
              <th>S0123456789</th>
              <th>002-1156-2275</th>
              <th>World History</th>
              <th>May-22-2016</th>
              <th>$89.99</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tbody>
        </table>
    </div>

<!--THE RELEVANT CONTACT INFORMATION IS HANDLED HERE-->
    <div id="courses" class="tab-pane fade">
      <!--<h3 style="text-align:center">Useful Contacts</h3>-->
      <h3>Manage Courses</h3>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Course"> 
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      <table class="table table-hover table-bordered table-default">
          <thead>
            <tr>
              <td>Course</td>
              <td>Student ID</td>
              <td>Book Name</td>
              <td>Check-Out Date</td>
              <td>Due Date</td>
              <td>Overdue?</td>
              <td>Email</td>
            </tr>
          </thead>
          <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="email" class="btn btn-default">Contact</button></td>
          </tbody>
        </table>
    </div>
  </div>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>