<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS425 Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<style>
.jumbotron{
  background-color:#29AB8D;
  color:white;
}  
.jumbotron p{
  color:black;
  font-size: 40px;
  text-align:left;
  padding: 10px;
}
.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.nav-tabs{
  margin-bottom: 0;
}
.nav-tabs ul{
  color:#0f0f0f;
}
.
</style>
</head>
<body>

<!--<div class="container">
  <ul class="nav nav-tabs bg-info">
    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#books">Your Books</a></li>
    <li><a data-toggle="tab" href="#fees">Fees</a></li>
    <li><a data-toggle="tab" href="#contact">Contact Us</a></li>
    <li><a data-toggle="tab" href="#userInfo">User Info</a></li>
  </ul>
  <ul class="nav nav-tabs bg-info pull-right">
    <li><a data-tobble="tab" href="#">Logout</a></li>
  </ul>
  <div class="tab-content">
    <div id="overview" class="tab-pane fade in active">
      <h3>Overview</h3>
        <p>A brief summary of your account
        </p>
    </div>
    <div id="books" class="tab-pane fade">
      <h3>Your Books</h3>
        <p>A brief summary of the books that you possess
        </p>
    </div>
    <div id="fees" class="tab-pane fade">
      <h3>Your Fees</h3>
        <p>A brief summary of the balance that you owe
        </p>
    </div>
    <div id="contact" class="tab-pane fade">
      <h3>Your Books</h3>
        <p>A list of some contacts that will be useful
        </p>
    </div>
    <div id="userInfo" class="tab-pane fade">
      <h3>Your Contact Information</h3>
        <p>Verify that this information is correct
        </p>
    </div>
  </div>
</div>
-->
<!--
<div class="container" style="padding:0px">
  <nav class="navbar bg-info">
    <p></p>
  </nav>   
</div>
-->
<div class="row">
  <div class="container" style="text-align:center">
    <h2>Welcome Students, Parents and Faculty</h2>
    <p>You can check out books, return books and manage fees through this website</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 bg-info" 
      style="border-radius:10px; 
            margin-top:50px;
            margin-bottom:0px;
            padding:10px 10px 0px 10px">
    
    <div class="form-group" style="text-align:center">
      <label for="usr">Username</label>
      <input type="text" class="form-control" id="usr" placeholder="Username">
    </div>
    <div class="form-group" style="text-align:center">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" id="pwd" placeholder="Password">
    </div>
    
    <a href="#" class="btn btn-info btn-block">Login</a>
    <br>
    <p><em>Not a user? Sign up <a href="registration.html">here:</a></em></p>
  </div>                                                                 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>