<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS425 Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="https://adityaparakh.000webhostapp.com/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<style>
.jumbotron{
  background-color:#29AB8D;
  color:white;
}  
.jumbotron p{
  color:black;
  font-size: 40px;
  text-align:left;
  padding: 10px;
}
.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.nav-tabs{
  margin-bottom: 0;
}
.nav-tabs ul{
  color:#0f0f0f;
}
</style>
</head>
<body>

<!--<div class="container">
  <ul class="nav nav-tabs bg-info">
    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#books">Your Books</a></li>
    <li><a data-toggle="tab" href="#fees">Fees</a></li>
    <li><a data-toggle="tab" href="#contact">Contact Us</a></li>
    <li><a data-toggle="tab" href="#userInfo">User Info</a></li>
  </ul>
  <ul class="nav nav-tabs bg-info pull-right">
    <li><a data-tobble="tab" href="#">Logout</a></li>
  </ul>
  <div class="tab-content">
    <div id="overview" class="tab-pane fade in active">
      <h3>Overview</h3>
        <p>A brief summary of your account
        </p>
    </div>
    <div id="books" class="tab-pane fade">
      <h3>Your Books</h3>
        <p>A brief summary of the books that you possess
        </p>
    </div>
    <div id="fees" class="tab-pane fade">
      <h3>Your Fees</h3>
        <p>A brief summary of the balance that you owe
        </p>
    </div>
    <div id="contact" class="tab-pane fade">
      <h3>Your Books</h3>
        <p>A list of some contacts that will be useful
        </p>
    </div>
    <div id="userInfo" class="tab-pane fade">
      <h3>Your Contact Information</h3>
        <p>Verify that this information is correct
        </p>
    </div>
  </div>
</div>
-->
   
<nav class="navbar navbar-fixed-top">
  <div class="container bg-info">
    <ul class="nav navbar-nav">
      <p class="navbar-text">RAJE High School Library</p>
      <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      <li><a data-toggle="tab" href="#books">Books</a></li>
      <li><a data-toggle="tab" href="#students">Your Students</a></li>
      <li><a data-toggle="tab" href="#courses">Your Courses</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right:10px">
      <p class="navbar-text">Signed in as: Teacher</p>
        <li><button class="btn navbar-btn"><a href="/">Logout</a></button></li>
    </ul>
  </div>

</nav>
<div class="container bg-muted" style="padding:0px; background-color:white">
    <div class="tab-content" style="margin-top:30px">

<!--THE OVERVIEW FOR THE USER IS SHOWN HERE-->
    <div id="overview" class="tab-pane fade in active">
      <h3>Overview</h3>
        <p>A brief summary of your account, {{ user["firstname"] }}
        </p>
      <h3>Successfully completed request.</h3>
      <h3>Request another book</h3>
      <form action="/request_book_teacher" class="form-inline">
          <div class="form-group">
            <input type="text"  name="bookisbn" class="form-control" placeholder="Book ISBN">
            <input list = "course_list" type="text" name="coursename" class="form-control" placeholder="Course Name">
            <input list = "year_list" type="text" name="courseyear" class="form-control" placeholder="Course Year">
            <input list = "semester_list"type="text" name="coursesem" class="form-control" placeholder="Course Semester">
            <input type="number" name="quantity" class="form-control" placeholder="Quantity">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
       <datalist id = "course_list">
            {%  for data in courses() %}
                <option value="{{ data['name'] }}">
            {% endfor %}
        </datalist>
        <datalist id = "year_list">
            {%  for data in year() %}
                <option value="{{ data['year'] }}">
            {% endfor %}
        </datalist>
      <datalist id = "semester_list">
            {%  for data in semester() %}
                <option value="{{ data['semester'] }}">
            {% endfor %}
        </datalist>
    </div>

<!--THE USERS BOOKS ARE HANDLED HERE-->
    <div id="books" class="tab-pane fade">
      <h3>Book Database</h3>
        <p>Track the books for your courses.
        </p>
    <!-- Too complicated rn
      <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Book Name">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    -->
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>ISBN #</th>
              <th>Course</th>
              <th>Quantity Available</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            {% for book in booksforteacher(user['teacherid']) %}
            <tr>
              <th>{{ book['title'] }}</th>
              <th>{{ book['isbn'] }}</th>
              <th>{{ book['coursename'] }} {{ book['coursesemester'].capitalize() }} {{ book['courseyear'] }}</th>
              <th>{{ book['quantity'] }}</th>
              <th>{{ book['cost'] }}</th>
            </tr>
           {% endfor %}
          </tbody>
        </table>
    </div>

<!--THE STUDENT FEES TAB IS HANDLED HERE-->
    <div id="students" class="tab-pane fade">
      <h3>Your Students</h3>
        <p>You are the advisor for the students listed below.
        </p>
        <!---
          <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Student ID #">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Parent Name</th>
              <th>Parent Contact</th>
            </tr>
          </thead>
          <tbody>
            {% set currstudentid = -1 %}
            {% for stud in studentsforadvisor(user['teacherid']) %}
                {% set currparentid = -1 %}
                {% for data in parentcontacts(stud['studentid']) %}
                <tr>
                    {% if currstudentid != stud['studentid'] %}
                        <th>{{ stud['studentid'] }}</th>
                        <th>{{ stud['firstname'] }}</th>
                        <th>{{ stud['lastname'] }}</th>
                        {% set currstudentid = stud['studentid'] %}
                    {% else %}
                        <th></th>
                        <th></th>
                        <th></th>
                    {% endif %}
                    {% if currparentid != data['parentid'] %}
                        <th>{{ data['firstname'] }} {{ data['lastname'] }}</th>
                        {% set currparentid = data['parentid'] %}
                     {% else %}
                        <th></th>
                    {% endif %}
                        <th>{{ data['contact'] }}</th>
                </tr>
                {% endfor %}
            {% endfor %}
          </tbody>
        </table>
    </div>

<!--THE RELEVANT CONTACT INFORMATION IS HANDLED HERE-->
    <div id="courses" class="tab-pane fade">
      <!--<h3 style="text-align:center">Useful Contacts</h3>-->
      <h3>Your Courses</h3>
        <p>Track your courses and students enrolled.
        </p>
        <!--
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Course">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Course</th>
              <th>Total Enrollment</th>
              <th>Student ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Has Book</th>
            </tr>
          </thead>
          <tbody>
            {% set course = [] %}
            {% set students = studentsforteacher(user['teacherid']) %}
            {% for stud in students %}
            <tr>
              {% if course != [stud['name'],stud['semester'],stud['year']] %}
                {% set course = [stud['name'],stud['semester'],stud['year']] %}
                <th>{{ stud['name'] }} {{ stud['semester'].capitalize() }} {{ stud['year'] }}</th>
                <th>{{ enrollment(students,course) }}</th>
              {% else %}
                <th></th>
                <th></th>
              {% endif %}
              <th>{{ stud['studentid'] }}</th>
              <th>{{ stud['firstname'] }}</th>
              <th>{{ stud['lastname'] }}</th>
              <th>{{ hasbookforcourse(stud['studentid'],stud['name'],stud['semester'],stud['year']) }}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>